{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
    <h1> Bienvenido {{ app.user.username }} </h1>
    <a href="{{ path('app_sorteo_index') }}">Sorteos</a>
{% endblock %}
