{% extends 'base.html.twig' %}

{% block title %}Edit NumerosLoteria{% endblock %}

{% block body %}
    <h1>Edit NumerosLoteria</h1>

    {{ include('numeros_loteria/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_numeros_loteria_index') }}">back to list</a>

    {{ include('numeros_loteria/_delete_form.html.twig') }}
{% endblock %}
