{% extends 'base.html.twig' %}

{% block title %}New NumerosLoteria{% endblock %}

{% block body %}
    <h1>Create new NumerosLoteria</h1>

    {{ include('numeros_loteria/_form.html.twig') }}

    <a href="{{ path('app_numeros_loteria_index') }}">back to list</a>
{% endblock %}
