{% extends 'base.html.twig' %}

{% block title %}New Sorteo{% endblock %}

{% block body %}
    <h1>Create new Sorteo</h1>

    {{ include('sorteo/_form.html.twig') }}

    <a href="{{ path('app_sorteo_index') }}">back to list</a>
{% endblock %}
