{% extends 'base.html.twig' %}

{% block title %}Edit Apuesta{% endblock %}

{% block body %}
    <h1>Edit Apuesta</h1>

    {{ include('apuesta/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_apuesta_index') }}">back to list</a>

    {{ include('apuesta/_delete_form.html.twig') }}
{% endblock %}
