{% extends 'base.html.twig' %}

{% block title %}New Apuesta{% endblock %}

{% block body %}
    <h1>Create new Apuesta</h1>

    {{ include('apuesta/_form.html.twig') }}

    <a href="{{ path('app_apuesta_index') }}">back to list</a>
{% endblock %}
